*.tar.gz
.lwpcookies
.vstags
_build*
blib*
Build
Build.bat
Cath-Gemma-*
cover_db
extlib/bin
extlib/lib/perl5/x86_64-linux
Makefile
Makefile.old
pm_to_blib*
pod2htm*.tmp
sqlnet.log
submit_dir.*
MYMETA.json
MYMETA.yml


venv/
.vscode/
*.pyc