#!/usr/bin/perl -w

#NOTE all Linux system calls used are defined as constants in common.pm (cp, mv, tar, gzip etc)

#NOTE $tools_dir is set before parsing this config file; replace if you want to use a different,
#NOTE DFX-independent location for the third party tools used

$mafft_base_dir = "$tools_dir/mafft-6.864-without-extensions";
$mafft_executable = "$mafft_base_dir/core/mafft";

#NOTE we could set the compass execs simpler here if we settled on a single version
#NOTE in the mid term we should replace compass by hhsearch, clustal omega or the like
$compass_base_dir = "$tools_dir/compass";
$compass_executable = "compass_wp_245_fixed";
$compass_dbXdb_executable = "compass_db1Xdb2_241";
$compass_executable = "$compass_base_dir/$compass_executable"; 
$compass_dbXdb_executable = "$compass_base_dir/$compass_dbXdb_executable";

$hmmer_base_dir = "$tools_dir/hmmer-3.1b2-linux-intel-x86_64"; # Natalie updated 2016-03-18
$hmmer_binaries_dir = "$hmmer_base_dir/binaries/";
$hmmer_build_executable = "$hmmer_binaries_dir/hmmbuild";
$hmmer_search_executable = "$hmmer_binaries_dir/hmmsearch";
$hmmer_press_executable = "$hmmer_binaries_dir/hmmpress";
$hmmer_scan_executable = "$hmmer_binaries_dir/hmmscan";

#NOTE the make_multi_seq.pl script is a modified version (modified by me, RR)
#$cdhit_base_dir = "$tools_dir/cd-hit-v4.5.7-2011-12-16";
#$cdhit_executable = "$cdhit_base_dir/cd-hit";

$cdhit_base_dir = "$tools_dir/cdhit-master"; # Natalie updated 2016-03-21 (compiled from github download)
$cdhit_executable = "$cdhit_base_dir/cd-hit";


#DEBUG some of the following could move to project specific config, i.e., vary with projects

$mafft_aln_quality_seq_num_cutoff = 200;
$mafft_hq_params = "--amino --anysymbol --localpair --maxiterate 1000";
$mafft_lq_params = "--amino --anysymbol --parttree --retree 1";

#NOTE a fix for an error with high gap content columns (default setting is 0.5)
$compass_params = "-g 0.50001";

$hmmer_search_cutoff = "-E 10.0";
$hmmer_CPU_cores_used = 4;

$cdhit_precluster_params = "-c 0.9 -n 5 -g 1 -d 0";
$cdhit_nonredcluster_params = "-c 0.6 -n 4 -g 1 -d 0";

# setting this environment variable here means it'll be exported to each shell spawned
$ENV{"MAFFT_BINARIES"} = "$mafft_base_dir/binaries";
