#!/usr/bin/perl -w

# the root terms for the three GO DAGs
# 'molecular function', 'biological process', 'cellular component'
@go_root_terms = qw ( GO:0003674 GO:0008150 GO:0005575 );
# used to exclude entire GO MF DAG branches in assessing cluster function conservation given 
# that other terms are available
# 'binding'
@go_unreliable_mf_branches = qw ( GO:0005488 );
# deprecated terms are ignored even if there are only unreliable terms (see above) for a sequence,
# they are effictively treated just like the root terms
@go_deprecated_terms = qw ( GO:0005515 GO:0005488 );

#DEBUG these may go, as EC data is only used for benchmarking
#DEBUG if they go, the bmarkfams options would have to be removed from dfx.pl
$ec_annotations_max_per_sequence = 1;
$ec_annotations_min_digits = 4;
$ec_annotations_max_digits = 4;
$ec_annotations_forbidden_digits = "-";

#EOF
1;
