#!/usr/bin/perl -w

$starting_clusters_min_seqs = 1;
$starting_clusters_min_anno_fraction = 0;

$starting_clusters_seq_length_lower_N_percent_excluded = 1;
$starting_clusters_seq_length_upper_N_percent_excluded = 0;
$starting_clusters_seq_max_homopoly_percent = 33;
$starting_clusters_seq_min_ok_split_dom_percent = 5;

@clustering_granularity_steps = qw ( 1e-100 1e-90 1e-80 1e-70 1e-60 1e-50 1e-40 1e-30 1e-20 1e-10 1e-05 100 );

$comparisons_fraction_of_all_per_iteration = 1;

$merges_max_per_iteration = 0xFFFFFF;

$dendrogram_min_branch_length = 10;
$dendrogram_max_branch_length = 100;

#EOF
1;
