#!/usr/bin/perl -w

# JOB SUMBISSON AND MONITORING

$qsub_mem_param = "-l tmem";
$qsub_runtime_param = "-l h_rt";

$qsub_additional_params = "-l hostname=groucho-1-2.local -P cath -l h_stack=64M  -S /bin/bash -v MAFFT_BINARIES";

$qstat_job_name_prefix = "dfx";

$qstat_run_states = "(r|R|Rr)";
$qstat_pending_states = "(r|R|Rr|q|qw|Q|QW|t|T|C|E|Eqw)";
$qstat_error_states = "(E|Eqw)";

$qstat_job_number_col = 0;
$qstat_job_name_col = 2;
$qstat_job_state_col = 4;

$qstat_username_before_jobname = 0;

$job_monitoring_check_interval_in_secs = 5;

$resman_wait_after_cmd_in_secs = 1;

# JOB PARAMETERS

$job_settings_override_settings_in_job_script_files = 1;

$compare_min_job_size = 10;
$compare_max_job_size = 10000;
$compare_job_time = "23:59:00";
$compare_job_mem = "500M"; 

$profile_min_job_size = 5;
$profile_max_job_size = 10000;
$profile_job_time = "23:59:00";
$profile_job_mem = "500M";

$align_min_job_size = 5;
$align_max_job_size = 10000;
$align_job_time = "23:59:00";
$align_job_mem = "500M";
