#!/usr/bin/perl -w

$local_user_name = "ucbtdas";

$local_base_work_dir = "/state/partition1/scratch0/cath/dfx_pfam1";

$local_base_data_dir = "/state/partition1/scratch0/cath/dfx_pfam1_data";

$local_ssh_target_node = "sec1.biochem.ucl.ac.uk";


$hpc_user_name = "ucbtdas";

$hpc_base_work_dir = "/state/partition1/scratch0/cath/dfx_pfam1";

$hpc_base_data_dir = "/state/partition1/scratch0/cath/dfx_pfam1_data";

$hpc_ssh_target_node = "groucho-1-2";

$hpc_submit_node = "groucho-1-2";

	
$pfam1_work_dir_min_free_blocks = 0; #2000000;

$pfam1_work_dir_max_percent_usage = 100; #98;

$pfam1_data_dir_min_free_blocks = 0; #5000000;

$pfam1_data_dir_max_percent_usage = 100; #98;
