#!/usr/bin/perl -w

$persf_seq2ukb_dataset = "domseq_data_sfld_29072013_anno_to_uniprot_data_26072013";
$persf_seq2go_dataset = "domseq_data_sfld_29072013_anno_to_go_data_29072013";
$go_ontology_hash_file_set = "domseq_data_sfld_29072013_anno_to_go_data_29072013";
$ukb_taxonomy_hash_file_set = "uniprot_taxonomy.tdl_26072013";

$family_set = "funfams";
